/* For CloseIcon, additional css. */
.cursor-default svg{
    cursor: pointer;
}

/* For td, long maker name etc... */
td[name="maker"] {
    padding-right: 1rem;
}

td[name="t-shape"]{
    padding-right: 1rem;
}

td[name="t-mat"]{
    padding-right: 1rem;
}